<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<div>
    <input type="text" name="name" value="Hello">
</div>
<div>
    <p>This is a welcome page</p>
</div>
<form action="#" method="get" enctype="multipart/form-dasta "></form>
<div>
<input  type = "radio" name="choose" value="red">
<input  type = "radio" name="choose" value="green">
<input  type = "radio" name="choose" value="yellow">
</div>
<a href="/goodbye">just a case</a> or <a href="exit"> go to Exit</a>
</body>
</html>